$blue: #1266F1 !default;
$indigo: #6610f2 !default;
$purple: #B23CFD !default;
$pink: #e83e8c !default;
$red: #F93154 !default;
$orange: #FFA900 !default;
$yellow: #ffc107 !default;
$green: #00B74A !default;
$teal: #20c997 !default;
$cyan: #39C0ED !default;

$primary: $blue !default;
